.cards-wrapper {
  display: block;
  @extend .no-margin;

  .card {
    width: $cardWidth;
    transition: all .5s ease-in-out;
    overflow: hidden;
    background: white;
    margin: 0 auto;
    position: absolute;
    top: 0;

    &:hover {
      cursor: pointer;
    }

    &.gone {
      right: 100%;
    }

    &.current {
      right: 0;
    }

    &.next {
      right: -100%;
    }
  }
}