.cards-wrapper {
  display: block;
  @extend .no-margin;

  .card {
    //width: $cardWidth;
    transition: all .5s ease-in-out;
    overflow: hidden;
    background: white;
    margin: 0 auto 70px;
    position: absolute;
    top: 30px;
    width: calc(100% - 30px);
    padding: 0 0 50px 0;
    background: white;

    &:hover {
      cursor: pointer;
    }

    &.gone {
      right: 100%;
    }

    &.current {
      right: 0;
    }

    &.next {
      right: -100%;
    }
    
    $font-size: 18px;
		$line-height: 1.4;
		$lines-to-show: 2;
    
    .details {
	    margin-top: 5px;
	    
	    .two-lines {
				font-size: 16px;
				margin-bottom: 5px;
				font-weight: 400;
				/*
				display: block;
				display: -webkit-box;
				max-width: 400px;
				height: $font-size*$line-height*$lines-to-show;
				margin: 0 auto;
				font-size: $font-size;
				line-height: $line-height;
				-webkit-line-clamp: $lines-to-show;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				*/
	    }
	    
	    .small {
		    font-size: 12px;
		    color: $med-gray;
	    }
	    
	    // Divider lines
	    li:nth-child(2), li:nth-child(4) {
		    border-left: 1px solid mix($light-gray,white,50%);
	    }
	    
	    li:nth-child(3), li:nth-child(4) {
		    padding-top: 10px;
		    border-top: 1px solid mix($light-gray,white,50%);
	    }
    }
  }
}