form {
	padding: 10px 0 30px;
		
	label {
		font-weight: 400;
	}
	
	button {
		margin-top: 10px;
	}
}

.field {
	margin-bottom: 15px;
	
	input[type="email"], input[type="password"] {
		padding: 23px 15px;
		font-size: 18px;
		border-radius: 0;
		border: none;
		border-bottom: 2px solid $light-gray;
		width: 100%;
		-webkit-appearance: none;
		
		&:focus {
			border-color: $col-a;
			box-shadow: none;
			outline: none;
		}
	}
}