// Profile pages
.company, .employee {
	padding: 30px;
  margin-bottom: 60px;
	box-shadow: 0 10px 40px 0 rgba(0,0,0,.2);
	
	// Temp
	.cards-placeholder {
		height: 300px;
		width: 100%;
		border: 1px solid $light-gray;
		border-radius: 2px;
		color: $light-gray;
		line-height: 300px;
		text-align: center;
		margin-top: 15px;
	}
	
	h1 {
		margin-bottom: 5px;
	}
	
	i {
		margin-right: 6px;
	}
	
	label {
		color: $med-gray;
		font-weight: normal;
		margin-left: 3px;
		margin-bottom: 10px;
	}
	
	.pull-right {
		text-align: right;
	}
	
	.avatar {
		position: relative;
		width: 100px;
		height: 100px;
		border-radius: 50px;
    overflow: hidden;
    border: 1px solid $med-gray;
    margin-bottom: 15px;
    background-size: cover;
	}
	
	.markdown-editable {
		position: relative;
		margin: 30px 0;
		
		.markdown-edit {
			position: absolute;
			top: 0;
			right: 0;
			border: none;
			background: transparent;
			transition: all .5s ease-in-out;
			opacity: 0;
			color: $med-gray;
			
			&:hover {
				color: $col-b;
			}
			
			&.shown {
				opacity: 1;
			}
		}
		
		h3 {
			color: $light-gray;
		}
		
		ul {
			list-style: disc;
			list-style-position: inside;
			margin-left: 30px;
		}
	}
	
	@media #{$small} {
		// Center align company name and social icons on mobile
		.info, .social {
			display: block;
			float: none !important;
			text-align: center;
		}
		.avatar {
			margin-left: auto;
			margin-right: auto;
		}
	}
	
}